doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/style.css', type = 'text/css')
	body
		h1 Welcome to this Bulletin Board
		br 
		a(href='/messages') All messages
		br 
		br 
		p I feel really sad today, please leave me a message:
		br
		br
		br 
		form(class= "form" name= "message" action='/create' method='post')
			label Title
			input(type="text" name='title' placeholder="Title" autocomplete="off")
			label Message
			input(type="text" name ='body' placeholder="Your message here" autocomplete="off")
			input(type='submit' value='Post') 