doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='style.css', type = 'text/css')  
	body
		a(href='/') Create a new post
		br
		br 
		h1 Welcome - Bulletin Board
		br
		br 
		br 
		h3 All messages:
		each message in messages
			li 
				|	Title: #{message.title} 
				br
				br 
				|	#{message.body}
	